@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
        }
        }
    }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 75px;

.leaderboard {
    margin: 0 auto;
    max-width: $max_width;
    text-transform: uppercase;
}

    .leaderboard__header {
        margin: 0 0 2.5% 2.5%;
    }

    .leaderboard__headline {
        @include fluid-type($min_width, $max_width, 48px, 200px);
        color: #fff;
        background-color: #005394;
        padding-left: 10%;
        margin: 2.5% 0;
    }

    .leaderboard__description {
        padding-left: 10%;
        @include fluid-type($min_width, $max_width, 24px, 48px);
        margin: 0;
        color: #727172;
    }

    .leaderboard__scores {
        list-style-type: none;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        tr {
            &:nth-child(odd) {
                background-color: #aaa8aa;
            }
        }
    }

        .leaderboard__header {
            font-size: 40px;
            text-align: left;
            &_score {
                text-align: right;
            }
        }

        .leaderboard__data {
            @include fluid-type($min_width, $max_width, $min_font, $max_font);
            text-align: left;
            &_rank {
                padding-left: 5%;
            }
            &_score {
                text-align: right;
                padding-right: 5%;
            }
        }