<div class="leaderboard content">
    <div class="wrapper">
        <header class="header leaderboard__header">
            <h1 class="leaderboard__headline">Top 25</h1>
            <p class="leaderboard__description">Family Day Video Game</p>
            <p class="leaderboard__description">Oct 20, 2018</p>
        </header>
        <table class="leaderboard__scores">
            <!-- <thead>
            <th class="leaderboard__header">Rank</th>
            <th class="leaderboard__header">Name</th>
            <th class="leaderboard__header leaderboard__header_score">Score</th>
            </thead> -->
            <tbody>
            <tr
                *ngFor="let player of displayableRankings; let i = index"
                [ngClass]="{'leaderboard__row_top': i === 0}">
                <td class="leaderboard__data leaderboard__data_rank">
                    {{i + 1}}
                </td>
                <td class="leaderboard__data">
                    {{player.name}}
                </td>
                <td class="leaderboard__data leaderboard__data_score">
                    <img class="leaderboard__award leaderboard__award_panda"
                        *ngIf="player.caughtPanda"
                        src="assets/img/panda.gif" alt="Panda Award">
                    <img class="leaderboard__award leaderboard__award_raven"
                        *ngIf="player.foundRaven"
                        src="assets/img/raven.gif" alt="Raven Award">
                    {{player.score | number:0}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>