.leaderboard {
    margin: 0 auto;
    max-width: $max_width;
    text-transform: uppercase;
}

    .leaderboard__header {
        margin: 0 0 2.5% 2.5%;
    }

    .leaderboard__headline {
        @include fluid-type($min_width, $max_width, 48px, 200px);
        color: #fff;
        background-color: #005394;
        padding-left: 9%;
        margin: 2.5% 0;
    }

    .leaderboard__description {
        padding-left: 9%;
        @include fluid-type($min_width, $max_width, 24px, 48px);
        margin: 0;
        color: #727172;
    }

    .leaderboard__scores {
        list-style-type: none;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        tr {
            &:nth-child(odd) {
                background-color: #aaa8aa;
            }
        }
    }

        .leaderboard__header {
            font-size: 40px;
            text-align: left;
            &_score {
                text-align: right;
            }
        }

        .leaderboard__data {
            @include fluid-type($min_width, $max_width, $min_font, $max_font);
            text-align: left;
            animation: textShadow 5s infinite, textSkew 5s infinite;
            color: rgb(7, 34, 8);
            &_rank {
                padding-left: 5%;
            }
            &_score {
                text-align: right;
                padding-right: 5%;
            }
        }