// Global styles
html,
body {
    height: 100%;
}

body {
    font-family: $font;
    margin: 0;
    * {
        box-sizing: border-box;
    }
}

.content {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: $max_width;
    text-transform: uppercase;
}

.header {
    margin: 0 0 2.5% 2.5%;
}