// Sizes
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 75px;

// Colors
$black: rgba(29, 33, 35, 1.000);
$yellow: #fefb01;
$blue: #4a97ff;
$orange: #ec9304;
$green: #80fa02;

// Fonts
$font: 'VT323', monospace;