@font-face {
  font-family: 'VT323-COMMA';
  src: url(assets/fonts/VT323-COMMA.eot);
  src: url(assets/fonts/VT323-COMMA.eot?#iefix) format('embedded-opentype'),
       url(assets/fonts/VT323-COMMA.woff2) format('woff2'),
       url(assets/fonts/VT323-COMMA.woff) format('woff'),
       url(assets/fonts/VT323-COMMA.ttf) format('truetype'),
       url(assets/fonts/VT323-COMMA.svg#VT323-COMMA) format('svg');
}
