<div class="name_entry">
    <div class="wrapper">
        <div class="form">
            <div class="form__row">
                <label class="form__label text_color__blue" for="player_1">Player 1 Enter Name</label>
                <input class="form__input text_color__blue border_color__blue" id="player_1" type="text">
            </div>
            <div class="form__row">
                <label class="form__label text_color__yellow" for="player_1">Player 2 Enter Name</label>
                <input class="form__input text_color__yellow border_color__yellow" id="player_1" type="text">
            </div>
            <div class="form__row">
                <label class="form__label text_color__green" for="player_1">Player 3 Enter Name</label>
                <input class="form__input text_color__green border_color__green" id="player_1" type="text">
            </div>
            <div class="form__row">
                <label class="form__label text_color__orange" for="player_1">Player 4 Enter Name</label>
                <input class="form__input text_color__orange border_color__orange" id="player_1" type="text">
            </div>            
        </div>
    </div>
</div>