.name_entry {
    background: $black;
    display: flex;
    flex-flow: column;
    align-content: center;
    &__text,
    &__waiting {
        color: #fff;
        animation: textShadow 5s infinite, textSkew 5s infinite;
    }
    &__waiting {
        text-align: center;
    }
    .form__row {
        position: relative;
        .player__awards {
            position: absolute;
            right: 14px;
            bottom: 28px;
            .player__award {
                width: 45px;
            }
        }
    }
}

.wrapper__name_entry {
    flex: 0 0 90%;
    text-transform: uppercase;
}

.name_entry__text_effects {
    animation: textShadow 5s infinite, textSkew 5s infinite;
}